body {
    background-color: rgba(172, 255, 47, 0.325);
}

h1{
    text-align: center;
    color: black;
    font-size: 40px;
}

.dropbtn {
    background-color: rgba(0, 0, 0, 0.825);
    color: white;
    padding: 30px 100px;
    font-size: xx-large;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 30px 5px;
    text-decoration: none;
    display: block;
    font-size: large;
}

.dropdown-content a:hover {
    background-color: green;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #56e1a9;
}