body {
  background-color: rgba(172, 255, 47, 0.325);
}

h1 {
  text-align: center;
  color: white;
  font-size: 40px;
  margin: 0;
  margin-bottom: 1%;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.804);
  h
}

iframe {
  width: 28%;
  height: 600px;
  margin: 2%;
}
